body{
    text-align: center;
    
}

nav{

    display: flex;
    background-color: dimgrey;
    color: ghostwhite;
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    border: 2px sol
}

.navegador{

    padding: 5px;
    margin: 10px 10px;
    border: 5px groove white;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.reloj{

    background:#000033;
    color: #E0E0E0;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    width: 23%;
    box-sizing: border-box;
    margin: 5px;
    position: absolute;
    top: 80px;
    left:915px;
    font-family: 'Quicksand', sans-serif;
}

.indice {
    width: 20%;
    background-color: midnightblue;
    color: snow;
    padding: 5px;
}

.tema{

    margin: 10px;
    padding: 10px;
    border: 5px solid white;

}

.hindice{
    margin: 10px;
    padding: 2px;
    position: relative ;
    left: 5px;
    
}
.tema:hover{
    background-color: steelblue;
}