
*{
    margin:0;
    padding:0;
}
body{
    background: rgba(186, 195, 196, 0.808);
    
}


header,.main,footer{

    
    width: 90%;
    margin: 10px auto;
    max-width: 1000px;
}

header nav{

    background: #528FD5;
    overflow: hidden;
}

header nav ul{

    list-style:none;
}

header nav ul li{
    float:left;
    
}

header nav ul li a{

    padding: 10px 20px;
    display: block;
    color: #fff ;
    text-decoration: none;
}
header nav ul li a:hover{
    background: skyblue;
}

.main ,.articles{
    width:50%;
    float: left;
    background: #fff;
    margin-bottom: 5px;
    margin: 20px;
    padding: 10px;
    border: 5px solid sandybrown;
}

aside{

    width: 40%;
    background: #ff8000;
    float:left;
    padding: 20px;
}

article{

    margin:10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: salmon;
}