
.columna{


    background: aqua;
    color: blue;
    padding: 20px;
    width: 25%;
    margin: 10px;


}
.padre{
    display: flex;
}

.nav-enlace{

    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;

}
.nav-enlace:hover{

    background: rosybrown;

}
.button-nav{
    background: gray;
    color: black;
    display:none;
}
button:hover{
    background: green;
    color: black
}
button:active{
    background: red
    
}
nav{
    display: flex;
    justify-content: space-around;
}

@media(max-width: 600px){
    nav{
        background: white;
        flex-direction: column;

    }
    
    .nav-enlace{
        margin: 10px 0;
    }
    .button-nav{
        display: inline-block;
    }
    .desaparece{

        display: none;
    }
    
}

