
.container{

    margin: 0 auto;
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;

}

h2{
    font-weight: 400;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}

.columna{
    background: rgb(228, 228, 228);
    color: #555;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    width: 23%;
    box-sizing: border-box;
   /* box-shadow: 10px 10px 5px royalblue;*/
}
.columnaF{
    background: rgb(228, 228, 228);
    color: #555;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    width: 89%;
    box-sizing: border-box;

}

.precio{

    font-size: 50px;
    color: #00dac7;

}

.btn-precio{    

    background: salmon;
    color: white;
    display: block;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn-precio:hover{
    background: blue;
}

.btn-precio:active{

    background: green;
}


@media(max-width:700px){
    .columna{
        width: 45%;
        margin-bottom: 10px;
    }
}

@media(max-width:400px){
    .columna{
        width: 100%;
        margin-bottom: 10px;
    }
}
