
form{
    margin: 20px;
    width: 90%;
    border: 2px solid #ccc;
    padding: 10px;
    
    background: whitesmoke;
    
}
.aviso{
    background: salmon;
    color: blue;
   
}

div{

    display: inline;
}

input{
    padding: 5px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid blue;

}

label{
    padding: 5px;
    margin-bottom: 2px;
    display: block;
}

textarea{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid blue;
    resize: vertical;
    max-height: 50px;
    min-height: 30px;
}
.dogue{
    width:50px;
    transition: 300ms all ease;
}

.dogueG{
    width:500px;
}

input[type="button"],input[type="submit"],.acceso{
    background: blue;
    width: 100%;
    text-align: center;
    display: block;
    border: none;
    margin-bottom: 20px;
    color: whitesmoke;
    
}
.acceso{
    text-decoration: none;
}

button{

    padding:10px;
}

input:focus, textarea:focus{

    border: 2px solid green;
}

input[type="button"]:hover,input[type="submit"]:hover{
    background: royalblue;
    cursor: pointer;
}